<div class="profile-container">
  @if (profile) {
    <div class="arrow-container" (click)="goHome()">
      <img src="icons/back-arrow.svg" alt="Go Back" class="arrow-icon">
    </div>

    @if (showSetupProfileModal) {
      <div class="overlay" (click)="closeSetupProfilePopup()">
        <div class="popup-content" (click)="$event.stopPropagation()">
          <app-update-profile 
            (profileUpdated)="onUpdatedProfile()">
          </app-update-profile>
        </div>
      </div>
    }    

    <div class="profile-header">
      <div class="nickname-setup">
        <div class="user-nickname">
          <h2>{{ profile.nickname }}</h2>
        </div>
        <button class="setup-profile" (click)="openSetupProfilePopup()">
          Set up profile
        </button>
      </div>

      <div class="avatar-bio-container">
        <img [src]="getFullImageUrl(profile.profilePicture)" alt="Profile picture" class="avatar-img">
        <p class="bio-text">{{ profile.bio }}</p>
      </div>

      <p>{{ profile.followersCount }} followers • {{ profile.followingCount }} following</p>
      @if (profileUserId != currentUserId) {
        <button (click)="toggleFollow()" class="follow-btn">
          {{ isCurrentUserFollowing ? 'Unfollow' : 'Follow' }}
        </button>
      }
    </div>
  }

  <div class="profile-tabs">
    <button (click)="activeTab = 'tweets'" [class.active]="activeTab === 'tweets'">Post</button>
    <button (click)="activeTab = 'replies'" [class.active]="activeTab === 'replies'">Replies</button>
  </div>

  @if (profile) {
    <div class="profile-content">
      @if (activeTab === 'tweets') {
        <app-tweet-list 
          [isFollowing]="false"
          [userId]="profileUserId">
        </app-tweet-list>
      }
      @if (activeTab === 'replies') {
        <app-reply-list 
          [userId]="profileUserId">
        </app-reply-list>
      }
    </div>
  }
</div>