<div class="tweet" (click)="openTweet(tweet.id)">
    <div class="post-header">
        <div class="user-info">
            <img class="profile-picture" 
                 [src]="getFullImageUrl(tweet.userProfilePicture)" 
                 alt="Profile picture of {{ tweet.userNickname }}">
            
            <a [routerLink]="['/profile', tweet.userId]" class="nickname-link" (click)="$event.stopPropagation()">
                <h3>{{ tweet.userNickname }}</h3>
            </a>
            
            <p class="time">{{ formatDateTime(tweet.createdAt) }}</p>
        </div>
    </div>
    <div class="post-content">
        <p>{{ tweet.content }}</p>
    </div>
    <div class="actions">
        <div class="interaction-buttons">
            <button class="interaction-button like-button" [class.active]="tweet.liked" 
                (click)="toggleLike(); $event.stopPropagation()">
                <img class="interaction-icon" src="icons/tweet-buttons/like.svg" alt="Like">
                <span class="interaction-count">{{ tweet.likeCount }}</span>
            </button>
            <button class="interaction-button reply-button">
                <img class="interaction-icon" src="icons/tweet-buttons/reply.svg" alt="Reply">
                <span class="interaction-count">{{ tweet.replyCount }}</span>
            </button>
            <button class="interaction-button bookmark-button" [class.active]="tweet.bookmarked"
                (click)="toggleBookmark(); $event.stopPropagation()">
                <img class="interaction-icon" src="icons/tweet-buttons/bookmark.svg" alt="Bookmark">
                <span class="interaction-count">{{ tweet.bookmarkCount }}</span>
            </button>
        </div>
    </div>
</div>