<div class="repliesContainer" #repliesContainer (scroll)="onScroll()">
  @for (mainReply of mainReplies; track mainReply.id) {
    <div>
      <app-single-reply 
        [reply]="mainReply" 
        (openReplyPopup)="onOpenReplyPopup($event)"
        (toggleNested)="onToggleNested($event)"
        [isNestedVisible]="mainReply.showNested">
      </app-single-reply>
      @if (mainReply.showNested) {
        <div class="nestedReplies">
            <app-nested-reply 
                [parentReplyId]="mainReply.id" 
                (openReplyPopup)="onOpenReplyPopup($event)">
            </app-nested-reply>
        </div>
      }
    </div>
  }
  @if (isLoading) {
    <div class="loading">Loading more replies...</div>
  }
  @if (!hasMoreReplies && mainReplies.length > 0) {
    <div class="endMessage">No more replies</div>
  }
  @if (!hasMoreReplies && mainReplies.length === 0) {
    <div class="endMessage">No replies to show</div>
  }
</div>
