<div class="homeContainer" #homeContainer (scroll)="onScroll()">
    <div class="stickyHeader"> 
        <div class="switchBtn">
          <button
            class="btn {{ activeTab === 'forYou' ? 'active' : '' }}"
            (click)="handleTabChange('forYou')"
          >
            For you
          </button>
          <button
            class="btn {{ activeTab === 'following' ? 'active' : '' }}"
            (click)="handleTabChange('following')"
          >
            Following
          </button>
        </div>
        <div class="createTweetContainer">
           <app-create-tweet (tweetCreated)="handleTweetCreated()"></app-create-tweet>
        </div>
      </div>

    <div class="tweetListContainer">
        <app-tweet-list 
            [fetchType]="activeTab === 'forYou' ? 'trending' : 'following'" 
            [listKey]="listKey">
        </app-tweet-list>
    </div>
</div>