<div class="home-container">
    <div class="content-container">
        <div class="switch-btn">
            <button class="btn" [class.active]="!isFollowing" (click)="onForYou()">For you</button>
            <button class="btn" [class.active]="isFollowing" (click)="onFollowing()">Following</button>
        </div>

        <div #createTweet class="create-tweet">
            <app-create-tweet></app-create-tweet>
        </div>

        <div #tweetListContainer class="tweet-list">
            @if (isFollowing) {
                <div class="tweets">
                    <app-following-tweet></app-following-tweet>
                </div>
            } @else {
                <div class="tweets">
                    <app-general-tweets></app-general-tweets>
                </div>
            }
        </div>
    </div>
</div>