<div class="replyContainer">
    <form [formGroup]="replyForm" (ngSubmit)="onSubmit()" class="replyForm">
        <div class="textareaWrapper">
            <textarea #replyTextarea formControlName="content" rows="1" maxlength="500" placeholder="Post your reply"
                class="textarea" (input)="adjustTextareaHeight()">
            </textarea>
        </div>
        <div class="buttonContainer">
            <button type="submit" [disabled]="!replyForm.valid" class="submitButton">Reply</button>
        </div>
    </form>
</div>