<div class="createTweetContainer">
    <div class="inputArea">
        <img 
            [src]="profilePictureUrl"
            alt="Your profile picture"
            class="profilePicture"
        />
        <form (ngSubmit)="onSubmit()" [formGroup]="tweetForm" class="tweetForm">
            <textarea #tweetTextarea formControlName="content" rows="1" placeholder="What is happening?"
                class="textarea" (input)="adjustTextareaHeight()">
            </textarea>
             
            <div class="actionsContainer">            
                <div class="iconsPlaceholder"></div>
                <button type="submit" [disabled]="!tweetForm.valid" class="submitButton">
                    Post
                </button>
             </div>
        </form>
    </div>
</div>