<div>
    <nav>
        <div>
            <a routerLink="/home">
                <img src="icons/navbar/home.svg" alt="Home Icon" class="menu-icon">
                Home
            </a>
        </div>
        <div>
            <a routerLink="/explore">
                <img src="icons/navbar/explore.svg" alt="Explore Icon" class="menu-icon">
                Explore
            </a>
        </div>
        <div>
            <a routerLink="/notifications">
                <img src="icons/navbar/notification.svg" alt="Notifications Icon" class="menu-icon">
                Notifications
            </a>
        </div>
        <div>
            <a routerLink="/userId">
                <img src="icons/navbar/profile.svg" alt="Profile Icon" class="menu-icon">
                Profile
            </a>
        </div>
        <div>
            <a routerLink="/bookmarks">
                <img src="icons/navbar/bookmark.svg" alt="Bookmarks Icon" class="menu-icon">
                Bookmarks
            </a>
        </div>
        <button (click)="logout()">Logout</button>
    </nav>
</div>

