<div>
    <nav>
        <div>
            <a routerLink="/home">
                <img src="icons/home.svg" alt="Home Icon" class="menu-icon">
                Home
            </a>
        </div>
        <div>
            <a routerLink="/explore">
                <img src="icons/explore.svg" alt="Explore Icon" class="menu-icon">
                Explore
            </a>
        </div>
        <div>
            <a routerLink="/notifications">
                <img src="icons/notifications.svg" alt="Notifications Icon" class="menu-icon">
                Notifications
            </a>
        </div>
        <div>
            <a routerLink="/userId">
                <img src="icons/profile.svg" alt="Profile Icon" class="menu-icon">
                Profile
            </a>
        </div>
        <div>
            <a routerLink="/bookmarks">
                <img src="icons/bookmarks.svg" alt="Bookmarks Icon" class="menu-icon">
                Bookmarks
            </a>
        </div>
    </nav>
</div>