.replyContainer {
    border-bottom: 1px solid #2f3336;
    padding: 15px;
    color: white;
    background-color: #000;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.replyHeader {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 10px;
}

.profilePicLink {
    margin-right: 10px;
    flex-shrink: 0;
}

.profilePicture {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #2f3336;
}

.userInfoContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.userInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    margin-bottom: 5px; 
}

.nickname {
    margin: 0;
    font-size: 15px; 
    font-weight: bold;
    margin-right: 5px;
}

.nicknameLink {
    text-decoration: none;
    color: inherit;
}

.nicknameLink:hover .nickname {
    text-decoration: underline;
}

.time {
    color: #71767b;
    font-size: 14px;
    margin-left: 5px; 
    white-space: nowrap; 
}

.replyContent p {
    margin: 0;
    font-size: 15px; 
    line-height: 1.4;
    word-wrap: break-word; 
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 15px;
    width: 100%;
    padding-left: 50px; 
    box-sizing: border-box;
}

.interactionButtons {
    display: flex;
    
    gap: 20px; 
}

.toggleNested {
    color: #1d9bf0; 
    font-size: 14px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 8px 0; 
    margin-left: auto; 
}

.toggleNested:hover {
    text-decoration: underline;
}

.interactionButton {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px; 
    color: #6e767d;
    padding: 5px; 
    border-radius: 9999px;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.interactionIcon {
    width: 18px; 
    height: 18px;
    margin-right: 5px;
    filter: grayscale(100%) brightness(1.5); 
    transition: filter 0.2s ease;
}

.interactionCount {
    margin-left: 3px;
}


.likeButton:hover {
    color: rgb(249, 24, 128);
}
.likeButton:hover .interactionIcon {
    filter: none; 
}

.replyButton:hover {
    color: rgb(29, 155, 240);
}
.replyButton:hover .interactionIcon {
     filter: none;
}


.likeButton.active {
    color: rgb(249, 24, 128);
}


.likeButton.active .interactionIcon {
    filter: brightness(0) saturate(100%) invert(29%) sepia(87%) saturate(2250%) hue-rotate(338deg) brightness(88%) contrast(97%);
    color: rgb(249, 24, 128);
}






