<div class="authContainer">
    <img src="/icons/logo.svg" alt="logo" class="authImage">
    <div class="authContent">
        <h1 class="mainHeading">Happening now</h1>
        <h2 class="subHeading">Join today.</h2>
        <button class="registerBtn" (click)="openRegister()">Create Account</button>
        <div class="separator">
            <span class="separatorLine"></span>
            <span class="separatorText">or</span>
            <span class="separatorLine"></span>
        </div>
        <h3 class="loginPrompt">Already have an account?</h3>
        <button class="loginBtn" (click)="openLogin()">Sign in</button>
    </div>
</div>

@if (isRegisterOpen) {
    <div class="overlay" (click)="closeRegister()">
      <div class="modal" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeRegister()">&times;</button>
        <app-register (closeModal)="closeRegister()"></app-register>
      </div>
    </div>
}

@if (isLoginOpen) {
    <div class="overlay" (click)="closeLogin()">
      <div class="modal" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeLogin()">&times;</button>
        <app-login (closeModal)="closeLogin()"></app-login>
      </div>
    </div>
}
