<div class="replyContainer">
    <div class="replyHeader">
        <a [routerLink]="['/profile', localReply.userId]" (click)="$event.stopPropagation()" class="profilePicLink">
            <img class="profilePicture"
                 [src]="getFullImageUrl(localReply.userProfilePicture)"
                 [alt]="'Profile picture of ' + localReply.userNickname">
        </a>
        <div class="userInfoContainer">
            <div class="userInfo">
                <a [routerLink]="['/profile', localReply.userId]" class="nicknameLink" (click)="$event.stopPropagation()">
                    <h3 class="nickname">{{ localReply.userNickname }}</h3>
                </a>
                <p class="time">{{ formatDateTime(localReply.createdAt) }}</p>
            </div>
            <div class="replyContent">
                <p>{{ localReply.content }}</p>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="interactionButtons">
            <button class="interactionButton likeButton" [class.active]="localReply.liked"
                (click)="handleLikeToggle(); $event.stopPropagation()">
                <img class="interactionIcon" src="/icons/tweet-buttons/like.svg" alt="Like">
                <span class="interactionCount">{{ localReply.likeCount }}</span>
            </button>
            <button class="interactionButton replyButton" (click)="handleReplyClick(); $event.stopPropagation()">
                <img class="interactionIcon" src="/icons/tweet-buttons/reply.svg" alt="Reply">
            </button>
        </div>
        @if (localReply.hasNestedReplies) {
            <button class="toggleNested" (click)="handleToggleNestedClick(); $event.stopPropagation()">
                {{ isNestedVisible ? 'Hide replies' : 'Show replies' }}
            </button>
        }
    </div>
</div>